body {
    font-family: Arial, sans-serif;
  }
  
  button {
    margin: 30px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-start;
  }
  
  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

  button:hover {
    background-color: #45a049;
  }
  
  input {
    width: 200px;
    padding: 5px;
  }

  .hover-effect {
    background-color: lightblue; /* Example */
    color: white;
  }